/*
Styles for the cutsom template /page-template/makeContact.php
*/

.make-contact {
    padding: 1rem;
    ul {
        margin: 0;
        list-style-type: none;
        li {
            margin-bottom: .5rem;
        }
    }
    h4 {
        margin: 1rem;
    }
    hr {
        margin: 0 1rem;
        border: 1px solid $white;
    }
}