/*
Front-page template
services.php / template part
*/
.my_services {
    #professional_services {
        padding: .5rem 0;
        margin: 0;
    }
    width: 100%;
    border-top: 1px dotted rgba(229, 229, 229, 1);
    background-color: rgb(250, 250, 245);
}
.primary-services {
    display: flex;
    gap: 1rem;
}
.skillset { 
    padding-bottom: 2rem;
    .skillset_panel { 
        border-radius: 6px;
        //Large screens
        background: $mid-tone;
        @media only screen and ( min-width: 64.063em) {
            margin-left: .05rem;
            .skillset_icon {
                border-radius: 6px 6px  0 0;
                background: url('./images/RocketshipHalftone.png') no-repeat;
                margin: 0 -.9rem;
                height: 10rem;
                padding: 0 .5rem;
                display: grid;
                place-items: center;
                figure {
                    margin: 0;
                    img {
                        border-radius: 6px 6px  0 0;
                        display: block;
                    }
                }
            }
            .bish {
                background-position: 0% 50%;
            }
            .bash {
                background-position: 50% 50%;
            }
            .bosh {
                background-position: 100% 50%;
            }
        }
        //Small to medium screens
        @media only screen and ( max-width: 64em) {
            margin-left: .25rem;
            margin-right: .25rem;
            .skillset_icon {
                border-radius: 6px 6px  0 0;
                background: url('./images/RocketshipHalftone.png') no-repeat;
                display: flex;
                align-items: center;
                justify-content: center;
                figure { 
                    margin: 0rem;
                    img {
                        display: block;
                        margin-right: auto;
                        margin-left: auto;
                    }
                }
                @media screen and (orientation:landscape) {
                    height: 14rem;
                    margin: 0 0 0 -1rem;
                }
                @media screen and (orientation:portrait) {
                    height: 14rem;
                    margin: 0 -1rem 0 -1rem;
                }
            }
            .bish {
                background-position: 51% 19%;
            }
            .bash {
                background-position: 50% 50%;
            }
            .bosh {
                background-position: 53% 81%;
            }
            margin-bottom: 1rem;
        }
    }

}
.gallery_latest_post {
    background-color:  rgb(235, 235, 220);
    padding: 2rem 0;
    .the_cards {
        display: flex;
        gap: 1rem;
        flex-direction: row;
        @media screen and (max-width: 640px) {
            flex-direction: column;
        }
    }
    .the_gallery {
        display:flex;
        align-items: center;
        min-height: 22rem;
        border: 1px solid rgba(192,192,192,1);
        border-radius: 6px;     
        h3 {
            width: 100%;
            padding: 0 2rem;
            font-size: 4rem;
            text-align: center;
        }
        @media screen and (min-width: 640.05px) {
            width: 70%;
        }
    }
    .the_latest_post {
        box-shadow: 0 3px 10px rgba(0, 0, 0, .2);
        background-color: rgb(250,250,250);
        border: 1px solid rgb(192, 192, 192);
        text-align: center;
        border-radius: 6px;
        @media screen and (min-width: 640.05px) {
            width: 33%;
        }
        .thumbnail-frame { 
            border-top: 1px solid rgb(192, 192, 192);
            border-bottom: 1px solid rgb(192, 192, 192);
            img { 
                margin:0;
                margin: 0;
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;   
            }
        }
        h4 {
            padding: .5rem;
            font-size: 1rem !important;
        }
    }
}