.upper_footer {
    min-height: 10rem;
    padding: 1rem 0 2rem;
    background-color: $black;
    h3 {
        color: $white;
    }
    .skills_cloud {
        border-right: 1px dotted $oil;
    }
}

.lower_footer {
    min-height: 10rem;
    background-color: $oil;
    text-align: center;
    font-size: 1.2rem;
    padding: 4rem;
    border-top: 1px dotted $aluminum;
    p {
        color: $aluminum;
        font-size: .75rem;
    }
    a {
        color: $iron;
        &:hover {
            color: $aluminum;
        }
    }
    .inline-list a {
        display: inline-block;
        width: 2rem;
        height: 2rem;
        border-radius: 2px;
        font-size: 1.5rem;
        text-align: center;
        line-height: 35px;
        margin: 0 3px 0 0;
    }
    .copyright {
        font-size: 0.875rem;
        margin: 1.75rem 0 0 0;
    }
    .about {
        img {
            height: 250px;
        }
    }
    .footer-links a {
        list-style: none;
        font-weight: normal;
        color: $iron;
        padding: 3rem 0 2rem;
        margin: 0;
        font-size: 0.875rem;
        &::after {
            content: "• ";
            padding: 0 0.2rem 0 0.4rem;
        }
        &:last-child::after {
            content: "";
            padding: 0 0.4rem 0 0.8rem;
        }
        &:hover {
            color: $aluminum;
        }
    }
    @media only screen and (min-width: 40.063em) {
        p {
            text-align: left;
        }
        .social {
            text-align: left;
            margin: 0;
        }
        .contact {
            text-align: left;
            >i {
                margin-right: 1rem;
            }
        }
    }
    @media only screen and (max-width: 40.063em) {
        p {
            text-align: center;
        }
    }
}