//Common styles
.hero {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#40e0d0+0,48d1cc+60,afeeee+100 */
    background: #40e0d0;
    /* Old browsers */
    background: -moz-linear-gradient(left, #40e0d0 0%, #48d1cc 60%, #afeeee 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #40e0d0 0%, #48d1cc 60%, #afeeee 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #40e0d0 0%, #48d1cc 60%, #afeeee 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    //filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#40e0d0', endColorstr='#afeeee', GradientType=1);
    /* IE6-9 */
}

//Front page
.jason {
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    @media screen and (max-width: 715px) {
        min-height: 500px;
        h1 { 
            img {  
                // margin-bottom: -1rem;
                margin-left: auto; 
                margin-right: auto;
                width: 786px;               
                display: block;
            }
            .deep_viewport {
                display: visible;
            }
            .narrow_viewport {
                display: none;
            }
        }
            
    }
    @media screen and (min-width: 715.5px) {
        min-height: 250px;
        h1 { 
            .deep_viewport {
                display: none;
            }
            .narrow_viewport {
                display: visible;
            }
            img { 
                margin-bottom: -2rem;
                display: block;
                margin-left: auto;
                margin-right: auto;
                max-height: 60vh;
                display: block;
            }
        }
    } 
}

//Blog
.theseus {
    .intro a {
        display: block;
        margin-top: 2rem;
    }
    h1 {
        margin: 1rem 0;
    }
}

//Portfolio pages
.odysseus {
    // height: 30vh;
    .intro a {
        display: block;
        margin-top: 2rem;
    }
    h1 {
        margin: 1rem 0;
    }
    img {
        margin: auto;
    }
}