.hero {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#40e0d0+0,48d1cc+60,afeeee+100 */
    background: #40e0d0;
    /* Old browsers */
    background: -moz-linear-gradient(left, #40e0d0 0%, #48d1cc 60%, #afeeee 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #40e0d0 0%, #48d1cc 60%, #afeeee 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #40e0d0 0%, #48d1cc 60%, #afeeee 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    //filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#40e0d0', endColorstr='#afeeee', GradientType=1);
    /* IE6-9 */
}

.jason {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media screen and (orientation: portrait) {
        @media only screen and ( max-width: 64em ) {
            height: 40vh;
        }
        h1 { 
            margin: 1rem 0;
            img { 
                margin-left: auto; 
                margin-right: auto;
                height: calc( 40vh - 2rem );                
                display: block;
            }
            .deep_viewport {
                display: visible;
            }
            .narrow_viewport {
                display: none;
            }
        }
    }
    @media screen and (orientation:landscape) {
        h1 { 
            @media only screen and ( min-height: 800.063px ) {
                .deep_viewport {
                    display: visible;
                }
                .narrow_viewport {
                    display: none;
                }
            }
            @media only screen and ( max-height: 850px ) {
                .deep_viewport {
                    display: none;
                }
                .narrow_viewport {
                    display: visible;
                }
            }
            img {
                display: block;
                margin-left: auto;
                margin-right: auto;
                max-height: 45vh;
                display: block;
            }
        }
    } 
}

.theseus {
    .intro {
        top: 10%;
    }
}

//Portfolio pages
.odysseus {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#40e0d0+0,48d1cc+60,afeeee+100 */
    background: #40e0d0;
    /* Old browsers */
    background: -moz-linear-gradient(left, #40e0d0 0%, #48d1cc 60%, #afeeee 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #40e0d0 0%, #48d1cc 60%, #afeeee 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #40e0d0 0%, #48d1cc 60%, #afeeee 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    //filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#40e0d0', endColorstr='#afeeee', GradientType=1);
    /* IE6-9 */
}

//Blog and service pages (404, search)
.achilles {
    background: url('http://www.satyadarshin.com/wp-content/uploads/2016/06/woodenRupa.jpg') no-repeat center center;
}