/* SatDar Theme custom Themes */  
@import "front-page";
@import "make-contact";
@import "hero";
@import "footer";
@import "footer-upper";
* {
    /* So 100% means 100% */
    box-sizing: border-box;
}
h2,h3,h4,h5 {
    line-height: 1.5; 
}
acronym {
    text-decoration: none;
}

table {
    caption {
        padding-bottom: .5rem;
    }
    td:not(:last-child) {
        font-weight: bold;
        text-align: right;
    }
}

.logo {
    color: #fff;
    font-size: 1.5rem;
    i {
        margin-right: 0.5rem;
    }
}

article,
.one-column-sidebar {
    margin-top: 1em;
}

article {
    margin-bottom: 2rem;
}

.screen-reader-text {
    // the label is aimed at screen-reader users but redundant otherwise
    display: none;
}

img {
    max-width: 100%;
}

.taxonomy_image {
    border: 1px solid rgba(192,192,192,1);
}

.project {
    min-height: 24em;
    margin-bottom: 1rem;
    h5 {
        margin: 1rem;
        font-size: 100%;
        font-weight: bold;
        text-align: center;
    }
}

.widget_container {
    border: 1px solid $iron;
    background-color: $white;
    border-radius: 6px;
}

.portfolio_type {
    padding-bottom: 2rem;
    background-color: beige;
    margin-bottom: 1rem; 
    h2 { 
       border-top: 1px dotted;
       border-bottom: 1px dotted;
    }
  }

  
  .taxonomy-description p:not:first-child {

    padding: 0;
    margin: 0 -1rem;
  }
  
  .taxonomy-description img {
    display: block;
    width: 100%;
  }  

.artist-statement {
    border-top: 1px dotted silver;
    padding-top: 1rem;
}

#pagination_bar {
    text-align: center;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    .page-numbers,
    .prev,
    .next {
        display: inline-block;
        text-align: center;
        padding-bottom: 3px;
        border-radius: 3px;
    }
    a {
        color: $white;
        background-color: $oil;
    }
    i {
        display: inline-block;
        width: 25px;
    }
    .current {
        border: 1px solid $oil;
        border-radius: 3px;
    }
    .paginator {
        width: 25px;
    }
    .prev,
    .next {
        padding: 0 6px 3px 6px;
    }
}

.panel {
    padding: 0 !important;
    border-radius: 5px;
    p {
        margin: 1rem;
    }
    h3 { 
        padding: 1rem 1rem 0 1rem;
        font-size: 125%; 
    }
}

.attachment-project-post_detail {
    margin: .5rem 0 0;
}

.project_summary {
    width: 100%;
}
.related-project-categories, .related-post-categories {
    margin: 1rem 0; 

    text-align: center;
}
.related-post-categories .panel {
    padding: 1rem;
}
@media only screen and (min-width: 64.063em) {
    // .wp-caption,
    .project:hover {
        -webkit-box-shadow: 10px 10px 23px -4px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: 10px 10px 23px -4px rgba(0, 0, 0, 0.5);
        box-shadow: 10px 10px 23px -4px rgba(0, 0, 0, 0.5);      
    }
}

// .wp-caption,
.project {
  border-radius: 5px 5px 0 0;
  border: 1px solid silver;
  }

.wp-block-image img { 
    border-right: 1px solid silver;
    border-top: 1px solid silver; 
    border-left: 1px solid silver;
    border-radius: 4px 4px 0 0;
    display: block;
    margin-bottom: 0 !important;
}  
.attachment-page img, .lightbox-image-container img {
    border-bottom: 1px solid silver;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    margin-left: auto;
    margin-right: auto;
}


figcaption {
    text-align: center;
    background-color: #fafaf5; 
    margin-top: 0!important;
    border-radius: 0 0 5px 5px;
    padding: .5rem 1rem; 
    border-right: 1px solid silver;
    border-bottom: 1px solid silver;
    border-left: 1px solid silver;
}

.attachment-spotlight {
    padding-top: 1rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: baseline;
    border-top: 1px dotted silver;
    margin-bottom: 1rem;
    h3 { 
        border-right: 3px solid $oil;
        padding-right: 1rem;
        width: 30%;
        text-align: right;
    }
    p {
        text-align: left;;
    }
}

//Blog
.blog_posts {
    margin-top: 2rem;
}

.blog_sidebar {
    margin-top: 3rem;
}

.blog_sidebar_thumbnail {
    // width: 100%;
    .panel {
        margin-top: 2rem;
        padding: 0;
        display: grid;
        @media screen and ( max-width: 1025px ) {
            // margin: 0 1rem !important; 
            grid-template-columns: 250px 1fr 2fr;
            grid-template-areas: 
            "thumbnail caption meta";
        }
        @media screen and ( min-width: 1025.5px ) {
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-areas: 
            "thumbnail thumbnail thumbnail "
            " caption caption caption "
            " meta meta meta";
        }
        .the-post-thumbnail {
            grid-area: thumbnail;
            img { 
                display: block;
                margin: 0;
                @media screen and (max-width: 1025px) {
                    border-radius: 5px 0 0 5px;
                }
                @media screen and (min-width: 1025.5px) {
                    border-radius: 5px 5px 0 0;
                }
            }    
        }
        .project_thumb_detail_caption {
            grid-area: caption;
            // margin: ;
            // padding-bottom: 1rem;
        }
        .tags_and_categories {
            grid-area: meta;
            padding-bottom: 1rem;
        p {
                margin: 1rem;
                span {
                    font-weight: bold;
                }
            }
        }    
    }
}

.the_skill {
    font-size: 110%;
    font-weight: bold;
    margin: 1rem 0 0;
}
.post_excerpt {
    box-shadow: 0 3px 10px rgba(0, 0, 0, .2);
    background-color: rgb(250,250,250);
    border: 1px solid rgb(192, 192, 192);
    border-radius: 6px; 
    margin-bottom: 2rem;
    .the_post_container {
        display: flex;
        align-items: stretch;
        .thumbnail-frame { 
            margin:0;
            img { 
                margin: 0;
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
                // width: calc( 100% - 1px );
                // height: calc( 100% - 1px );
            }
        }
        .the_actual_excerpt {
            padding: 1rem;
            .post_meta {
                padding-bottom: .5rem;
                font-size: .8rem;
                text-transform: uppercase;
                color: rgb(192, 192, 192);
            }
        }
        @media screen and (min-width: 800.5px) {
            flex-direction: row;
            .thumbnail-frame { 
                padding: 1px 0 1px 2px;
                flex-shrink: 1;
                max-width: 25%;
                    // border-right: 1px dotted rgb(192, 192, 192);
                img { 
                    border-radius: 4px 0 0 4px;
                }
            }
            .the_actual_excerpt {
                flex-shrink: 2;
            }
        }
        @media screen and (max-width: 800px) {
            padding: 1px 1px 0 1px;
            flex-direction: column;
            .thumbnail-frame { 
                border-bottom: 1px dotted rgb(192, 192, 192);
                img { 
                    border-radius: 4px 4px 0 0;
                    
                }
            }
        }
    }
}

.blog-pagination {
    display: flex;
    gap: .5rem;
    justify-content: center;
    div { 
        height: 6rem;
        width: 6rem;
        border-radius: 3rem;
        border: 1px solid  #f15a22;
        align-content: center;
        a { 
            padding: 2.25rem 0;
            display: block;
            text-align: center;
            height: 6rem;
            width: 6rem;
            border-radius: 3rem;
            transition: all 1s;
            color: #f15a22;
            &:hover {
                background-color:  #f15a22;
                color: rgba(255,255,255,1);
            }
        }
    }
}
.single-post-pagination { 
    text-align: center;
    padding-top: 1rem; 
    margin: 0 auto; 
    padding-bottom: 1rem;
    width: 21rem;
    @media screen and (min-width: 1025.5px) {
        border-top: 1px dotted rgb(192, 192, 192);
    }
    border-bottom: 1px dotted rgb(192, 192, 192);
    color:rgb(192, 192, 192);

}   
.single-post-pagination_buttons { 
    margin-top: 1rem;
    margin-bottom: 2rem;
    display: flex;
    gap: .5rem;
    // height:3.5rem;
    @media screen and (min-width: 850.5px) {
        justify-content: center;
        align-content: stretch;
        align-items: baseline;
    }
    @media screen and (max-width: 850px) {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
        flex-direction: column;
    }
    div { 
        padding: 0 1rem .5rem;
        font-size: 1.75rem;
        color:#f15a22;
        height: 3.25rem;
        border: 1px solid  #f15a22;
        transition: all 1s;
        &:hover {
            background-color:  #f15a22;
            color: rgba(255,255,255,1);
            a {
                color: rgba(255,255,255,1);
            }
        }
        a { 
            font-size: 1rem; 
            color: #f15a22;
            margin: 0;
            text-align: center;
            padding: .75rem 0;     
            display: block;
            // @media screen and ( min-width: 850.5px ) {
            //     display: block;
            // }
            // @media screen and ( max-width: 850px ) {
            //     display: block;   
            //     height: 3.2rem; 
            // }    
        }
    }
    .all_posts {
        // height: 6rem; width: 6rem;
        border-radius: 3rem;
        text-align: center;
    }
    .paginate_left {
        // width: 8rem;
        height: 3.25rem;
        a { 
            width: 6rem;
            height: 3.25rem;
            // border: 1px solid red;
            // text-align: right;
            &::before {
                content: ' « ';
            }
        }
        border-radius: 2rem;
        // @media screen and (min-width: 850.5px) {
        //     border-radius: 2rem 3px 3px 2rem;
        // }
        // @media screen and (max-width: 850px) {
        // }    
    }
    .paginate_right {
        // width: 8rem;
        a{
            width: 6rem;
            height: 3.25rem;
            &::after {
            content: ' » ';
        }}
        border-radius: 2rem;
        // @media screen and (min-width: 850.5px) {
        //     border-radius: 3px 2rem 2rem 3px;
        // }
        // @media screen and (max-width: 850px) {
        // }  
    }
}

 @media only screen and (max-width: 40.063em) {
    .contact-social-network {
        span {
            display: block;
            margin-top: .5rem
        }
    }
}

.static_page_sidebar { 
    background-image: url('images/octagon-texture-01.png');
    min-height: 25rem;
    p {
        border-top: 2px dotted #ede6ce;
        border-bottom: 1px dotted #ede6ce;
        padding: 1rem 0;
        text-align: center;
    }
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ede6ce+1,ffffff+100 */
    background-color: #ede6ce;
    /* Old browsers */
    // background: -moz-linear-gradient(top, #ede6ce 1%, #ffffff 100%);
    /* FF3.6-15 */
    background-color: -webkit-linear-gradient(top, #ede6ce 1%, #ffffff 100%);
    /* Chrome10-25,Safari5.1-6 */
    background-color: url('images/octagon-texture.png') linear-gradient(to bottom, #ede6ce 1%, #ffffff 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}