/*
SatDar Theme custom Themes
*/

@import "hero";
@import "footer";

$text-color: #fff;

.row {
  //max-width: 1200px;
}

.logo {
	color: #fff;
	font-size: 1.5rem;

	i {
		margin-right: 0.5rem;
	}
}

article, .one-column-sidebar {
margin-top: 1em;
}

.screen-reader-text {
	// the label is aimed at screen-reader users but redundant otherwise
display: none;
}


.contact {
	list-style-type: none;
	margin: 0;
	text-align: left;

	li {
		margin-bottom: 2rem;

		a {
			color: #fff;

			&:hover {
				color: #92999f;
			}
		}
	}
}
